html {
  font-size: 16px;
}

p,
h2 {
  font-size: 1.2rem;
}

.navigation-button {
  font-size: 1.2rem;
}

h1 {
  font-size: 1.5rem;
}

body {
  font-family: sans-serif;
  margin: auto;
  max-width: 800px;
}

img {
  border-radius: 5px;
  width: 100%;
}

#logo {
  margin: auto;
  width: 250px;
  border-radius: 0px;
}

#navigation-bar {
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.navigation-button {
  color: rgb(100, 100, 100);
  cursor: pointer;
}

.navigation-button:hover {
  color: black;
}

#content {
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.hidden {
  display: none;
}
